<!DOCTYPE html>
<html>
<head>
  <title>BootstrapHelper3</title>
  <%= stylesheet_link_tag    "bootstrap_helper3/application", media: "all" %>
  <%= javascript_include_tag "bootstrap_helper3/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
