<div class="page-header">
  <h1>Pages#welcome</h1>
</div>

<p>Find me in app/views/pages/welcome.html.erb</p>

<div class="page-header">
  <h1>ibutton</h1>
</div>

<%= ibutton("Home", root_path, :class => "btn btn-primary", :iclass => "glyphicon glyphicon-home") %>
